@import '../../../../styles/variables';

.logo {
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
    object-fit: fill;
    > picture {
        margin: 0;
        > img {
            margin: 0;
        }
    }
}
