@import "../../../../styles/variables.scss";

.topicReact {
  position: relative;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
  color: white;
  margin-bottom: 50px;
  min-height: 860px;

  .playButton {
    background: url("../../../../assets/img/play-button.png") no-repeat;
    background-size: 80px 80px;
    z-index: 2;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: none;
  }

  .title {
    font-size: 50px;
    width: 1244px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .containerPlayer {
    margin-bottom: 20px;

    > div {
      width: 1244px !important;
      height: 700px !important;

      > div {
        border-radius: 10px;
      }

      > video {
        border-radius: 10px;
      }
    }
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    width: 1244px;
    margin: 0 auto;

    .btn {
      font-size: 30px;
      height: 60px;
    }

    .btnBack {
      width: 200px;
    }

    .btnNext {
      width: 320px;
    }
  }
}
