@import '../../../../styles/variables';

.navBar {
  display: flex;
  height: 22px;
  width: 100%;
  position: relative;
  background-color: $blackBackground;
  z-index: 100;
}

.navBarListDesktop {
  display: flex;
  align-items: center;
  width: 100%;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
