@import "../../../styles/variables.scss";

.containerFooter {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 168px);

  .containerTopicsReact {
    .topicsReact {
      position: relative;
      margin: 0 auto 50px;
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1440px;
      color: white;
      min-height: 575px;

      .title {
        font-size: 40px;
        text-align: center;
        margin-top: 0;
        padding-bottom: 16px;
        border-bottom: 6px solid #202020;
      }
    }
  }

  .footer {
    flex: auto;
  }
}

.topicPreview {
  width: 300px;
  height: 200px;
}

.topicLink {
  padding: 8px;
  font-size: 24px;
  color: black;
  font-weight: 800;
  border-radius: 8px;
  background-color: orange;
}

.topicsContainer {
  .topicElement {
    padding-bottom: 32px;
    border-bottom: 3px solid #202020;
  }
}

.description {
  font-size: 24px;
}
