@import '../../../styles/variables';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  height: 92px;
  background-color: #111111;
  max-width: 100%;
  color: white;
}
